section
    h3 Plant cell
    img(src="img/plant_cell.png", alt="Plant cell")
    p.imgsrc https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Plant_cell_structure-en.svg/1280px-Plant_cell_structure-en.svg.png
