section
    h3 Localization is important!
    p
        ol
            li Several non compatible metabolic reactions happening at the same time
            li Proteins do not work alone. They're affected by their environment
            li Cell must transport proteins where they're "needed"
