section
    p For investigators is necessary to know where a protein is located to understand the role of the protein in any given process
    p Biological experiments can be carried out to find biological evidence of these locations. However, they're expensive and not really practical
    p With expansion of protein sequencing new methods are needed to predict protein localization
