section
    h2 Statistical classification
    p Machine Learning development
    p Identify to which a set of categories a new observation belongs based on a training set of data containing observations whose category membership is known
