section
    p
        ul
            li Develop mathematical models that can predict categories for new observations
            li A training set that is already classified using other methods
            li Algorithms do not understand the nature of the problem, they find relations between inputs and output
            li Necessity of well distributed, abundant data 
