section
    h2 Linear regression
    div(style="width: 100%;")
        div(style="float: left; display:inline-block; width: 50%;")
            img(src="img/linear_regression.png", alt="Linear regression")
            p.imgsrc https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Linear_regression.svg/400px-Linear_regression.svg.png
        div(style="float: right; width: 50%;")
            ul
                li A training set
                li A mathematical model
                li Training data is used to find parameters
                li Test how good is the model
                li Use it
        div(style="clear: both;")
