section
    h2 Models for classification
    ul
        li
            strong Support Vector Machines
        li Neural Networks
        li Decision Trees
        li Regression methods (Linear)
        li ...
