section
    h2 Available implementation
    p LIBSVM
    p
        a(href="http://www.csie.ntu.edu.tw/~cjlin/libsvm/#nuandone", target="_blank")
            | http://www.csie.ntu.edu.tw/~cjlin/libsvm/#nuandone
