section
    h2 Dataset
    p UniProtKB/Swiss-Prot database (release 2013_05)
    ol
        li Only annotated (single or multiple) were used
        li Ambiguous annotation was removed ('by similarity', 'probable', 'potential')
        li Fragments or less than 50 aminoacid proteins were removed
        li Proteins with ambiguous letters ('B', 'X', 'Z') were removed
        li Reduction of redundancy and homology bias with CD-HIT
    p MSchlo578 was created with 578 chloroplast proteins
