section
    h2 Amino Acid Composition (AAC)
    p A vector of 20 positions where each component represents the frequencies of each amino acid
    p
        strong Problem?
    p Ordering information is lost
