section
    h2 Pseudo Amino Acid Composition (PseAAC)
    p First 20 vectors are AAC
    p Added &xi; * &lambda; components
    p In this case:
    ul
        li &lambda; is 50
        li &xi; is 6
    p Total of 20 + (50 * 6) = 320 components
