section
    h2 Pseudo Amino Acid Composition (PseAAC)
    p &lambda; has to be less than the length of the minimum sequence. (50)
    p &xi; can be a subset of the following chemical properties:
    ul
        li Hydrophobicity
        li Hydrophilicity
        li Mass
        li pK (alpha-COOH)
        li pk (NH3)
        li pI (at 25C°)
