section
    h2 How good is this classifier?
    p Jackknife test
    p Y<sub>i</sub> is the true labels for each example, Z<sub>i</sub> is the predicted set
    img(src="img/evaluation1.png", alt="Evaluation formulas")
